footer {
  display: flex;
  justify-content: center;
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    .info-footer {
      width: 30%;
    }
    .social-footer {
      width: 30%;
    }
    .legal-footer {
      width: 30%;
    }
  }
}
